<div class="container">
  <div class="form">
    <form>
      <div class="formulario">
        <label for="">Cliente:</label>
        <input type="text" [(ngModel)]="cliente" required />
        <label for="">Fluido:</label>
        <input type="text" [(ngModel)]="fluido" required />
        <label for="">Vazão:</label>
        <input type="text" [(ngModel)]="vazao" required />
        <label for="">Pressão de Entrada:</label>
        <input type="text" [(ngModel)]="entrada" required />
        <label for="">Pressão de Saída:</label>
        <input type="text" [(ngModel)]="saida" required />
        <label for="">Material:</label>
        <input type="text" [(ngModel)]="material" required />
        <label for="">Conexão:</label>
        <input type="text" [(ngModel)]="conexao" required />
      </div>
    </form>
  </div>
  <div class="calcular">
    <button (click)="calculate()">Calcular</button>
  </div>
</div>
