<div class="container">
  <div class="btn">
    <div class="solicitacoes">
      <h2>Solicitacoes</h2>
      <button>Garantia</button>
      <button>Manutenção</button>
    </div>
    <div class="sizing">
      <h2>Dimensionamento de Produtos</h2>
      <button (click)="redutora()">Redutora 3010-MP</button>
      <button (click)="prv()">Redutora PRV-17</button>
      <button (click)="vc()">Controle VC-330</button>
      <button (click)="vsa()">Segurança VSA</button>
      <button (click)="prugadores()">PURGADORES</button>
      <button (click)="flash()">TANQUE FLASH</button>
    </div>
    <div class="steam">
      <h2>Calculos de Vapor</h2>
      <button (click)="cosumo()">CONSUMO DE VAPOR</button>
      <button (click)="custo()">CUSTO DO VAPOR</button>
      <button (click)="satureted()">DADOS DO VAPOR SATURADO</button>
    </div>
  </div>
</div>
