.container {
  margin-top: 10vh;
  margin-left: 25%;
  border: 2px solid black;
  padding: 2vw;
  width: 36vw;
  font-size: 1vw;
}

.formulario {
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
}
table tr {
  display: flex;
  flex-direction: column;
}
th {
  border: 1px solid black;
  width: 18vw;
}
button {
  margin: 1vw;
  padding: 1vw;
  background-color: var(--color-header);
  color: white;
  font-weight: 500;
}
